:root {
    --color: #24BAA0;
}

* {
    box-sizing:border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1056px;
    margin: 0 auto;
}

.clearfix:after {
    content:'';
    display: block;
    clear: both;
}

.clearfix:after {
    content:'';
    display: block;
    clear: both;
}

.section-title {
    color:#575757;
    text-transform: uppercase;
    font-size:22px;
    padding:15px 0;
    position: relative;
    margin-bottom:30px;
}
.section-title:after {
    content:'';
    width:300px;
    height:6px;
    background: var(--color);
    position: absolute;
    left:0;
    bottom:0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.container {
    width:1035px;
    margin:0 auto;
}
.row {
    margin-left:-15px;
    margin-right:-15px;
    position: relative;
}
.row:after {
    content:'';
    display: block;
    clear: both;
}
.row .col-1-2 {
    padding:0 15px;
    width:50%;
    float:left;
}
.row .col-1-3 {
    padding:0 15px;
    width:33.3333%;
    float:left;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.section-title {
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 45px;
}
.section-title:after {
    content:'';
    height: 7px;
    width: 325px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
}

.page-header {
    height: 40px;
    background: #000;
    z-index: 100; /* Zeby nie uciekala zakladka "aktualnosci/nasz team/historia" bo tu chyba label ma wiekszy index i nie lapie menu przez to, zeby sie nie chowalo z index zawsze z position */
    position: relative;
}
.page-header .container {}

.page-logo {
    display: inline-block;
}
.page-logo-link {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    line-height: 40px;
}
.page-logo-link span {
    color : var(--color);
}

.page-nav {
    float: right;
}
.page-nav-list {}
.page-nav-list-el {
    position: relative;
    display: inline-block;
}
.page-nav-list-link {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    line-height: 40px;
    padding: 0 20px;
}
.page-nav-list-link:hover {
    color: var(--color);
}


.page-nav-sublist {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s opacity;

    background: #000;
    position: absolute;
    min-width:120px;
    top: calc(100% + 10px);
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px;
}
.page-nav-list-el:hover .page-nav-sublist {
    opacity: 1;
    visibility: visible;
}
.page-nav-sublist:before {
    content:'';
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    left: 50%;
    top: 0;
    transform:translate(-50%, -50%) rotate(45deg);
}
.page-nav-sublist:after {
    content:'';
    position: absolute;
    left: 0;
    top: -10px;
    right: 0;
    height: 10px;
    background: transparent;
}
.page-nav-sublist-el {
}
.page-nav-sublist-link {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    font-size: 14px;
}
.page-nav-sublist-link:hover {
    color: var(--color);
}
/* banner*/
.main-banner{
    height: 500px;
    background: linear-gradient(#fff, #ddd);
}
.banner{
    height: 500px;
    position: relative;
}
.banner-prev,
.banner-next{
    position: absolute;
    right: 0;
    height: 100%;
    width: 100px;
    border: 0;
    font-size: 50px;
    background: none;
    color: var(--color);
	left: auto;

}
.banner-prev:focus,
.banner-next:focus {
    outline: none;
}
.banner-slides{
    background: yellow;
    height: 100%;
    margin: 0 100px;
    position: relative;

}
.banner-slide{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity:0;
    font-size: 5rem;
    transition: 0.5s all;
}

/* Baner*/
.main-slider-cnt {
    height:500px;
    background-color: #ddd;
    background-image: linear-gradient(#fff, #ddd);
}
.main-slider-cnt .container {
    height:100%;
}
.main-slider {
    height:100%;
    position: relative;
}
.main-slider-prev,
.main-slider-next {
    position:absolute;
    left:0;
    top:0;
    width:100px;
    height:100%;
    background: transparent;
    border:0;
    font-size:50px;
    color: var(--color);
    transition: 0.5s color;
    cursor:pointer;
}
.main-slider-next {
    right:0;
    left:auto;
}
.main-slider-prev:hover,
.main-slider-next:hover,
.main-slider-prev:focus,
.main-slider-next:focus {
    color:#000;
    outline:none;
}
.main-slider-slides-cnt {
    height:100%;
    margin:0 100px;
    position: relative;

}
.main-slider-slide {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    transition: 0.5s all;
}
.main-slider-slide.active {
    opacity:1;
    z-index: 2;
}

.main-slider .slide-image {
    float: left;
    width: 46%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-chair {
    position: absolute;
    padding-top: 50px;

}
.slider{
    position: relative;
}
.slider ul{
    list-style: none;
}

.slider li{
    display: none;
}

.slider .visible{
    display: inline-block;
}

.main-slider .slide-cnt {
    position: relative;
    height: 100%;
    width: 54%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
}

.main-slider .slide-title {
	float: left;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 43px;
    font-weight: 400;
    text-align: center;
}

.main-slider .slide-title span {
    color: var(--color);
}

.main-slider .slide-cnt p {
    margin: 30px -5px;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    line-height: 22px;
}

.main-slider .btn {
    margin-top: 35px;
}

/* normalny slide */
.main-slider-slide img {
    top: -50px;
    opacity: 0;
    transition: 0.5s 0s ease-in-out all;
}

.main-slider-slide .slide-cnt {
    opacity: 0;
    top: -50px;
    position: relative;
    transition: 0.5s 0.3s ease-in-out all;
}

/* aktywny slide  */
.main-slider-slide--active {
    z-index: 100;
    opacity: 1;
}
.main-slider-slide--active img {
    top: 0;
    left: 0;
    opacity: 1;
}

.main-slider-slide--active .slide-cnt {
    opacity: 1;
    top: 0;
}

.main-slider-slide--active .slide-cnt .title {
}


/* Foldery*/
.main-information {
    padding:65px 0;
}
.info-box {
   position: relative;
   display: inline-block;

}
.info-box-img {
   display: block;
}
.info-box-cnt {
   position: absolute;
   left:0;
   bottom:10px;
   width:100%;
   background: rgba(255,255,255,0.5);
   padding:15px;
}

.info-box-cnt2 {
    position: absolute;
    left:0;
    bottom:10px;
    width:100%;
    background: rgba(255,255,255,0.5);
    padding:15px;
}

.info-box-title {
    border-bottom: 7px solid var(--color);
    font-weight: 600;
    width:50%;
}

.info-box-text {
    border:1px solid #ddd;
    height:245px;
    padding:15px;
}
.info-box-description {
    margin-top:20px;
}


/*  Cennik  */

.btn {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color);
    color:#fff;
    border:0;
    border-radius: 7px;
    padding:10px 20px;
    text-decoration:none;
    transition: 0.5s background-color;
}
.btn:hover {
    background-color: #333;
}

.box-dot{
    right: 44%;
    bottom: 97%;
    width: 50px;
    height: 50px;
    background: #fff;;
    box-shadow: inset 0 0 0 10px  var(--color);
    border: 3px solid  var(--color);
    border-radius: 50%;
    transform: translate(-50,-50%);
    position: absolute;
}
.box-dot2{
    left: 43%;
    bottom: 97%;
    width: 50px;
    height: 50px;
    background: #D4D4D4;
    box-shadow: inset 0 0 0 10px #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    transform: translate(-50,-50%);
    position: absolute;
}
.box-dot3{
    right: 45%;
    bottom: 97%;
    width: 50px;
    height: 50px;
    background: #D4D4D4;
    box-shadow: inset 0 0 0 10px #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    transform: translate(-50,-50%);
    position: absolute;
}

.main-price-list {
   background: #F1F1F1;
   padding:30px 0;
}
.price-list-box {
   background: #F9F9F9;
   border: 2px solid #D4D4D4;
   height: 600px;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
	
}

.price-list-box .price-list-box-title {
   font-size: 26px;
   text-align: center;
   text-transform: uppercase;
   color: var(--color);
   margin-top: 20px;
	
}

.price-list-box .price-list-box-price {
   display: flex;
   width: 140px;
   height: 135px;
   border-radius: 50%;
   border: 2px solid #D4D4D4;
   background: #fff;
   margin: 35px auto;
   justify-content: center;
   align-items: center;
   flex-direction: column;
	
}

.price-list-box .price-cnt {
   display: flex;
   color: #C2C2C2;
}

.price-list-box .price-cnt .price {
   font-size: 45px;
   font-weight: 500;
}

.price-list-box .price-cnt .small {
   font-size: 20px;
   padding-top: 15px;
}

.price-list-box .price-text {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: #C2C2C2;
}

.price-list-box .price-list-box-points {
}

.price-list-box .price-list-box-points li {
    background: #E4E4E4;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
    color: #8F8F8F;
}

.price-list-box .price-list-box-points li:nth-of-type(even) {
    background: #F1F1F1;
}

.price-list-box .price-list-box-btn-cnt {
    font-size: 30px;
    margin-top: auto;
    text-align: center;
    margin-bottom: 30px;
}

.price-list-box .button {
    font-size: 30px;
    padding: 5px 10px;
    margin-top: auto;
}

/* active */
.price-list-box--active {
    background: var(--color);
    border-color: var(--color);
}

.price-list-box--active .price-list-box-title {
    color: #FFF;
}

.price-list-box--active .price-list-box-price {
    border-color: var(--color);
}

.price-list-box--active .price-cnt .price,
.price-list-box--active .price-cnt .small,
.price-list-box--active .price-text {
    color: var(--color)
}

.price-list-box--active .btn {
    background: #FFF;
    color: var(--color);
    transition:0.5s all;
}
.price-list-box--active .btn:hover {
    opacity:0.7;
}
.price-list-box-btn{
   height: 60px;


}

/* kontakt*/

.main-contact{ /*odsuniecie kontaktu od menu*/
    padding: 40px 0;

}
.form {}
.form-row {
    margin-bottom: 25px;
}
.form-left{
   width: 635px;
	float:left;
    
}
.form-right{
   width: 345px;
	float:right;
    
}
.form-addon{
   height: 195px;
   background: url(../images/red_chair.png);
   background-position: center bottom;
   background-repeat: no-repeat;
   display: block;
   margin-bottom: 35px;
}
.form input[type="text"],
.form input[type="email"],
.form textarea {
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 33px;
    font-weight: 200;
    border: 1px solid var(--color);
    width: 100%;
    transition: 0.4s box-shadow;
}
.form textarea {
    min-height: 185px;
    resize: vertical;
}
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    box-shadow:inset 0 0 0 1px var(--color);
    outline: none;
}

.form ::-webkit-input-placeholder { /* https://css-tricks.com/almanac/selectors/p/placeholder/*/
    color: #ccc;
}
.form ::-moz-placeholder {
    color: #ccc;
}
.form :-ms-input-placeholder {
    color: #ccc;
}
.form :-moz-placeholder {
    color: #ccc;
}

.checkbox{
    display: block;
    position: relative;
    padding-left: 60px;
    min-height: 48px;
    padding-top: 10px;
    color: #aaa;
    font-size: 18px;
    margin-bottom: 35px;
    cursor: pointer; /* lapka dla kursora*/
}
.checkbox-input{
    position: absolute;
    left: -999999px;
}
.checkbox-icon{
    width: 48px;
    height: 48px;
    border: 1px solid var(--color);
    display: inline-block;
    position:absolute;
    left:0;
    top:0;
}
.checkbox-icon:after{ /* pojawiajacy sie znaczek */
    content: "";
    background: url(../images/form_ok.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 46px;
    height: 46px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    transition: 0.5s all;
}
.checkbox-input:checked + .checkbox-icon:after {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
}
.btn{
    font-size: 34px;
    color: #fff;
    background: var(--color);
    padding: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0;
    width: 100%;
    cursor: pointer; /* lapka dla kursora*/
	
}
	

/* Stopka */
	
.main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-footer .col-1-2:nth-of-type(1) {
}

.main-footer .col-1-2:nth-of-type(2) {
    text-align: right;
}

.main-footer .copyright {
    font-size: 16px;
    color: #9B9B9B;
    line-height:36px;
}

.main-footer .social-icons {
    display: inline-block;
}

.main-footer .footer-logo {
    display: inline-block;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #9B9B9B;
    margin-left: 70px;
    vertical-align: top;
    line-height: 35px;
}

.social-icons li {
    display: inline-block;
}

.social-icons li .social {
    width: 35px;
    height: 35px;
    text-indent: -999px;
    overflow: hidden;
    text-align: left;
    display: inline-block;
}

.social-icons .social-flickr {
    background: url(../images/flickr.png) no-repeat;
}

.social-icons .social-vimeo {
    background: url(../images/vimeo.png) no-repeat;
}

.social-icons .social-pinterest {
    background: url(../images/pinterest.png) no-repeat;
}

.social-icons .social-twitter {
    background: url(../images/twitter.png) no-repeat;
}

